	
	#app {
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		pointer-events: none;
		opacity:0;
		-webkit-transition: all 0.1s ease-in-out 0.3s;
		transition: all 0.1s ease-in-out 0.3s;		
	}
	
	.load-project-thumb #app, .load-project-thumb-with-title #app, .load-project-thumb-with-title-and-scale #app {
		opacity:1;
	}
	
	.grid__item-img--large {
		pointer-events: none;
		position: absolute ;
		opacity: 0;
	}
	
	.grid__item-hidden {
		pointer-events: none;
		position: fixed;
		opacity: 0;
	}
	
	#project-holder {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index:100;
		pointer-events:none;
	}
	
	#project-holder.open {
		pointer-events:initial;
	}
	
	#showcase-height {
		position:relative;
		width:100vw;
		height:0;
	}
	
	#project-holder #main, #project-holder #main-page-content {
		opacity:1;
	}
	
	.clone-wrapper {
		overflow:hidden;
		height:100vh;
		width: 100%;
		left:0px;
		position: fixed;
		top:0;
		z-index:100;
		opacity:1;	
	}
	
	.clone-container {
		overflow:hidden;
		height:100%;
		width: 100%;
		left:0px;
		position: absolute;
		top:0;
		opacity:1;	
	}
	
	.thumb-wrapper {
		visibility: hidden;
		overflow:hidden;
		height:100vh;
		width: 100%;
		left:0px;
		position: fixed;
		top:0;
		z-index:100;
		opacity:1;	
	}
	
	.thumb-container {
		visibility: hidden;
		height:100vh;
		width: 100%;
		left:0px;
		position: fixed;
		top:0;
		z-index:100;
		opacity:1;		
		background-color:#171717;		
	}
	
	.thumb-page {
		cursor: pointer;
		position: absolute;
		height:100vh;
		width:100%;
		top:0;
		left:0px;
		position: fixed;
		visibility:hidden;
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.item-image {
		width:200%;
		height: 100%;
		position:relative;
		display:block;
		z-index:100;	
		object-position: center; 
		object-fit: cover;
	}
	
	
/*--------------------------------------------------
	Responsive
---------------------------------------------------*/	




@media only screen and (max-width: 1466px) {	
	
	
}

@media only screen and (max-width: 1024px) {	
	
	#app {
		opacity:0!important;	
	}
}

@media only screen and (max-width: 767px) {
	
		
}

@media only screen and (max-width: 479px) {
	
			
}			
	